/* font weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

/* font size */
$font-xs: 0.8rem;
$font-sm: 1rem;
$font-md: 1.2rem;
$font-base: 1.4rem;
$font-lg: 1.6rem;
$font-xl: 1.8rem;
$font-2xl: 2rem;

/* spacing */
$spacing-0: 0;
$spacing-2: .2rem;
$spacing-4: .4rem;
$spacing-5: .5rem;
$spacing-6: .6rem;
$spacing-8: .8rem;
$spacing-10: 1rem;
$spacing-12: 1.2rem;
$spacing-16: 1.6rem;
$spacing-22: 2.2rem;
$spacing-24: 2.4rem;
$spacing-36: 3.6rem;

/* form */
$form-control-padding: 1rem 1.6rem;
$form-control-radius: 0.4rem;

/* button height */
$b-height-sm: 2.8rem;
$b-height-md: 3.6rem;

/* border radius */
$radius-sx: 2px;
$radius-sm: 4px; //
$radius-md: 6px;
$radius-lg: 8px;
$radius-full: 9999px;