$c-primary: #7c3aed;
$c-primary-op: #f3eff9;

$c-white: #ffffff;
$c-black: #111111;

/* text */
$c-primary-text: #4b5563;
$c-title-text: #111827;

$c-gray-50: #f9fafb; // background
$c-gray-100: #f3f4f6;
$c-gray-200: #e5e7eb; // border
$c-gray-300: #d1d5db; // placeholder
$c-gray-400: #9ca3af;
$c-gray-500: #6b7280;
$c-gray-600: #4b5563; // sub-text
$c-gray-700: #374151;
$c-gray-800: #1f2937; // text
$c-gray-900: #111827;

$c-info: #3B82F6;
$c-info-op: #F0F6FF;
$c-warning: #EFC236;
$c-warning-op: #FFFAEB;
$c-success: #16A34A;
$c-success-op: #F5FFF9;
$c-error: #EA6161;
$c-error-op: #FFF4EF;