@use "../../styles/tokens" as *;
@use "../../styles/color-token" as *;
@use "../../styles/mixins" as *;

.back-button {
  @include flex-center;
  width: $space-28;
  height: $space-28;
  flex: 0 0 auto;
  color: $color-text-muted;

  &:hover,
  &:focus-visible { color: $color-text; }

  svg { width: 1.1rem; height: 1.9rem; }
}
